pandas==2.1.1
numpy==1.26.2
streamlit==1.30.0
scikit-learn==1.3.2
spacy>=3.0.0,<4.0.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0-py3-none-any.whl
